<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAnimal"
        tools:targetApi="31">

        <meta-data
            android:name="androidx.navigation.fragment.NavHostFragment"
            android:value="@navigation/nav_graph" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_name" />

        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_name" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Replace YOUR_WEB_CLIENT_ID with the Web client ID from the OAuth 2.0 client ID credentials -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.CLIENT_ID"
            android:value="455036878711-c9lpmdopt7b07nrgn2ilro5on24n6u55.apps.googleusercontent.com" />

        <activity
            android:name=".AuthenticationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyAnimal">
            <!-- Remove the LAUNCHER category from NavBar if you don't want it to be the launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".NavBar"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyAnimal">
            <!-- Remove the LAUNCHER category from NavBar if you don't want it to be the launcher activity -->

        </activity>

    </application>

</manifest>